body{
    font-family: 'Lato', sans-serif;
    background-color: #cbe2b0;
      
}

.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
    width: 90%;
    max-width: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;    
}

/* Diseño del Boleto de lotería */

.ticket{    
    width:100%;  
    margin-left: 20px;
    max-width: 450px;
    background-color: white;
    color: #B4B2B2;
    border-radius: 20px;
    background-image: url(imagenes/Free\ St_\ Patrick\'s\ Day\ Scrapbook\ Papers.jpg);
    background-size: cover;     
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2)       
}


.millonario{    
    width: 100%;
    max-width: 600px;  
    margin-top: 20px;
    margin-left: 190px;
    margin-bottom: 5px;   
}

.number{
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 5px;    
}

.card-award{
    font-size: 12px;
    color: black;
    padding-left: 20px;
}

.encript-number{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px; 
    background-color: transparent;  
    margin-left: 1px; 
    border-color: transparent;
    outline: none;
    
}

.flexbox{
    display: flex;
    justify-content: space-between;
}

.lucky{
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-left: 20px;
}

.specialAward{
    color:rgba(102, 102, 102, 0.808);
    font-size: 16px;
    padding-left: 20px;
   
}

/* --------- tex-transform:uppercase hace que los datos que se ingresen se vean en mayusculas ----------- */

/*Logo Bardcode */

.logo{
    width: 100%;
    max-width: 65px;
    margin-right: 20px;       
}

/* Validador del código ganador */

.title{    
    font-family: 'Fjalla One', sans-serif;
    text-align: center;   
    color: #438a5e;
}

hr{ 
    background-color: #a8dda8;
    width: 322px;
    margin-bottom: 10px;    
    border-color: #a8dda8;     
}

.link{
    color: rgb(130, 192, 37);
    text-decoration: none;
  
}

.validator{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    position: relative;  
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); 
}

.benefits{
    text-align: center;
    margin-bottom: 0%;
}

.form-number{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
}

.numero{
    font-size: 13px;
    color: #5f5e5e;
    margin-bottom: none;
}

.number{
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border:1px #B4B2B2 solid;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none;  
   
}    

.botones{
    display: flex;
    justify-content: space-between;
}

.encode{
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    border: 2px #369FFF solid;
    background-color: #369FFF;
    font-size: 22px;
    color: white; 
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;   
    width: 230px;
}

/* outline elimina la linea del hover al momento de querer enviar la informacion */

.encode:hover{
    cursor: pointer;
}

.decode{
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    border: 2px #369FFF solid;
    background-color: #369FFF;
    font-size: 22px;
    color: white; 
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;   
    width: 230px; 
}

.decode:hover{
    cursor: pointer;
}
